<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <title>报告查询</title>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">报告查询</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" th:action="@{/reportQuery/searchReport}"
                              method="post">
                            <div class="box-body">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">提交者</label>
                                    <div class="col-sm-10" style="width: 300px">
                                        <input type="text" list="userlist" name="submitter" th:value="${submitter}"
                                               class="form-control" maxlength="20" id="submitter"/>
                                        <datalist id="userlist">
                                            <div th:each="user:${list}">
                                                <option th:value="${user}"><span th:text="${user}"></span></option>
                                            </div>
                                        </datalist>
                                    </div>

                                    <label class="col-sm-2 control-label">审批领导</label>
                                    <div class="col-sm-10" style="width: 300px">
                                        <input type="text" list="userlist" name="leader" th:value="${leader}"
                                               class="form-control" maxlength="20" id="leader"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">开始时间</label>
                                    <div class="col-sm-10" style="width: 300px">
                                        <input type="date" name="start" class="form-control" id="start"
                                               maxlength="50"/>
                                    </div>

                                    <label class="col-sm-2 control-label">结束时间</label>
                                    <div class="col-sm-10" style="width: 300px">
                                        <input type="date" name="end" class="form-control" id="end" maxlength="50"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">得分者</label>
                                    <div class="col-sm-10" style="width: 300px">
                                        <input type="text" list="userlist" name="score" id="score"
                                               th:value="${score}"
                                               class="form-control" maxlength="20"/>
                                    </div>

                                    <label class="col-sm-2 control-label">报告类型</label>
                                    <div class="col-sm-10" style="width: 300px;">
                                        <input type="checkbox" id="type0" name="types" th:value="1"/>
                                        一般报告&nbsp;
                                        <input type="checkbox" id="type1" name="types" th:value="2"/>
                                        个案报告&nbsp;
                                        <input type="checkbox" id="type2" name="types" th:value="4"/>
                                        领导批示&nbsp;
                                    </div>
                                </div>

                                <br/>
                                <div class="box-footer" style="text-align: center;">
                                    <button type="button" class="btn btn-default" onclick="Reset()">重置</button>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <button type="submit" class="btn btn-info">查询</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="box">
                        <button><a onclick="exportTo();" href="javascript://">生成excel</a></button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped" style="font-size: 10px">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>报告内容</th><!---->
                                    <th>报告种类</th>
                                    <th>任务类型</th>
                                    <th>分值</th>
                                    <th>提交者</th>
                                    <th>审批领导</th>
                                    <th>审批结果</th>
                                    <th>队伍成员</th><!---->
                                    <th>提交日期</th>
                                    <th>审批意见</th><!---->
                                    <th>审批日期</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${reports}">
                                    <td th:text="${item.getReportID()}"></td>
                                    <td th:text="${item.getReportText()}"></td>
                                    <td th:text="${item.getTypeName()}"></td>
                                    <td th:text="${item.getCategory()}"></td>
                                    <td th:text="${item.getSingleScore()}"></td>
                                    <td th:text="${item.getUserName()}"></td>
                                    <td th:text="${item.getLeaderName()}"></td>
                                    <td th:text="${item.getIsPass()}"></td>
                                    <td th:text="${item.getMembers()}"></td>
                                    <td th:text="${item.getSubmitTime()}"></td>
                                    <td th:text="${item.getComment()}"></td>
                                    <td th:text="${item.getCheckTime()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
<script th:src="@{/js/list-page.js}"></script>


<script th:inline="javascript">
    /*<![CDATA[*/
    function fill(s) {
        return s < 10 ? '0' + s : s;
    }

    function getDateString(myDate) {
        var year = myDate.getFullYear();
        var month = myDate.getMonth() + 1;
        var date = myDate.getDate();
        return year + '-' + fill(month) + "-" + fill(date);
    }

    function setDate() {
        var end = new Date();
        $("#end").val(getDateString(end));

        var start = end.getFullYear() + '-01-01';
        $("#start").val(start);
    }

    function Reset() {
        setDate();
        $("#submitter").val('');
        $("#leader").val('');
        $("#score").val('');
    }

    /*]]>*/
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        var end = /*[[${end}]]*/;
        var start = /*[[${start}]]*/;
        if (end == null || start == null) {
            setDate();
        } else {
            $("#end").val(end);
            $("#start").val(start);
        }
    })

    /*should not be put in the document.ready*/
    var types =/*[[${types}?${types}:0]]*/;
    for (var i = 0; i < 3; i++) {
        if ((types & (1 << i)) != 0)
            $("#type" + i).attr("checked", "checked");
    }
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    function exportTo() {
        var name = '报告查询';
        $('.table').tableExport({
            filename: name,
            format: 'xls',
            cols: '1,2,3,4,5,6,7,8,9,10,11,12'
        });

    }

    /*]]>*/
</script>
<script th:src="@{/js/tableExport.js}"></script>

</body>
</html>
