<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <title>权限管理</title>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">新增权限级别</h3>
                            <a th:href="@{/privilege/add}" title="新增权限级别"><span
                                    class="glyphicon glyphicon-plus"></span></a>
                        </div>

                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>权限级别</th>
                                    <th>报告提醒天数</th>
                                    <th>报告提醒时间</th>
                                    <th>领导批分次数上限</th>
                                    <th>领导批分分数上限</th>
                                    <th>编辑</th>
                                    <th>删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${list}">
                                    <td th:text="${item.getPrivilege()}"></td>
                                    <td th:text="${item.getWeekdays()}"></td>
                                    <td th:text="${item.getPushTime()}"></td>
                                    <td th:text="${item.getLeaderPostLimit()}"></td>
                                    <td th:text="${item.getLeaderScoreLimit()}"></td>
                                    <td style="text-align: center">
                                        <a th:href="@{/privilege/edit(privilege=${item.getPrivilege()})}"><span
                                                class="glyphicon glyphicon-edit"
                                                title="编辑"></span></a>
                                    </td>

                                    <td style="text-align: center">
                                        <span name="trash" title="删除"
                                              th:data="@{/privilege/delete(privilege=${item.getPrivilege()})}"
                                              style="cursor: pointer" class="glyphicon glyphicon-trash"></span>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });

</script>
<script th:src="@{/js/list-page.js}"></script>
</body>
</html>