<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>新建部门</title>
    <div th:replace="head"></div>
    <div th:replace="script"></div>
    <div th:replace="multiselect"></div>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <div class="content-wrapper">
        <section class="content">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">新建部门</h3>
                </div>

                <form class="form-horizontal" th:action="@{/department/addDep}" method="post" id="multiform">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="dID" class="col-sm-2 control-label">部门ID</label>

                            <div class="col-sm-10">
                                <input readonly="readonly" type="text" name="dID"
                                       class="form-control" id="dID"
                                       required="required" maxlength="30"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dName" class="col-sm-2 control-label">部门名称</label>

                            <div class="col-sm-10">
                                <input type="text" name="dName"
                                       class="form-control" id="dName" placeholder="部门名称"
                                       required="required" maxlength="30"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">部门人员</label>
                            <div class="col-sm-10">
                                <select class="multiselect" multiple="multiple" style="height:25em">
                                    <option th:each="user:${users}" th:value="${user.getUserID()}" th:text="${user.getUsername()}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" style="display:none;">
                            <label for="selected" class="col-sm-2 control-label">selected</label>

                            <div class="col-sm-10">
                                <input type="hidden" name="selected" class="form-control" id="selected"/>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer" style="text-align: center;">
                        <button type="submit" class="btn btn-info">提交</button>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <div th:replace="footer"></div>
</div>
</body>

<script type="text/javascript">
    $.extend($.ui.multiselect, {
    locale: {
        addAll:'添加所有',
        removeAll:'删除所有',
        itemsCount:'项已选'
    }
    });

    var form = $("form#multiform");
    $(form).on('submit', function(){
        $("ul.selected li").each(function(){
            var selected=$("#selected").val()
            var selected_value = $(this).attr('data-selected-value');
            if(selected_value){
                selected+=selected_value+",";
            }
            $("#selected").val(selected)
        });
        res=$("#selected").val();
        $("#selected").val(res.substr(0,res.length-1));
    });
</script>
</html>