<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <link rel="stylesheet" href="../plugins/datatables/dataTables.bootstrap.css"/>
    <title>人员管理</title>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">部门查询</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form class="form-horizontal" th:action="@{/employee}" method="get">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">选择部门查询</label>
                                        <div class="col-sm-10" style="width: 300px">
                                            <input type="text" list="departmentlist" name="department"
                                                   class="form-control" th:value="${searchDepart}"
                                                   id="searchDepart" maxlength="20"/>
                                            <datalist id="departmentlist">
                                                <option th:each="depar:${departmentList}"
                                                        th:text="${depar.getDname()}"></option>
                                            </datalist>
                                        </div>
                                        <!--
                                        <label class="col-sm-2 control-label">人员查询</label>
                                        <div class="col-sm-10" style="width: 300px">
                                            <input type="text" name="userName"
                                                   class="form-control" th:value="${searchName}"
                                                   id="searchName" maxlength="20"/>
                                        </div>
                                        -->
                                    </div>

                                    <br/><br/>

                                    <div class="box-footer" style="text-align: center;">
                                        <button type="submit" class="btn btn-info">查询</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">新增人员</h3>
                            <a th:href="@{/employee/addEmp}" title="新增人员"><span
                                    class="glyphicon glyphicon-plus"></span></a>
                        </div>
                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>职级</th>
                                    <th>职称</th>
                                    <th>职务</th>
                                    <th>权限级别</th>
                                    <th>状态</th>
                                    <th>电话</th>
                                    <th>性别</th>
                                    <th>邮箱</th>
                                    <th>编辑</th>
                                    <th>删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${list}">
                                    <td th:text="${item.getUsername()}"></td>
                                    <td th:text="${item.getPosition_()}"></td>
                                    <td th:text="${item.getTitle_()}"></td>
                                    <td th:text="${item.getDuty()}"></td>
                                    <td th:text="${item.getPrivilege()}"></td>
                                    <td th:text="${item.getStatus_()}"></td>
                                    <td th:text="${item.getTel()}"></td>
                                    <td th:text="${item.getGender_()}"></td>
                                    <td th:text="${item.getEmail()}"></td>
                                    <td style="text-align: center">
                                        <a th:href="@{/employee/editEmp(userid=${item.getUserID()},redirect=0)}"><span
                                                class="glyphicon glyphicon-edit"
                                                title="编辑"></span></a>
                                    </td>
                                    <td style="text-align: center">
                                        <span title="删除" style="cursor: pointer" class="glyphicon glyphicon-trash"
                                              th:onclick="'javascript:del(&quot;'+${item.getUserID()}+'&quot;,&quot;'+${item.getUsername()}+'&quot;);'">
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    $(document).ready( function () {
        $('#dataTable').DataTable({
            "paging": true,
            "pageLength":20,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "aaSorting": []
        });
        });
</script>

<script>
    function del(userid,username){
        var ret=confirm("确认删除人员 \""+username+"\" 吗?");
        if (ret==true){
            $.ajax({
			    type: 'POST',
			    url: '/employee/deleteEmp',
			    data: {"userid":userid},

			    success: function(data) {
			    	window.location.href="/employee";
			    },
			    error: function(xhr, type) {
			    	window.alert('删除失败！');
			    }
			})
        }
    }
</script>

<script th:src="@{/js/list-page.js}"></script>
</body>
</html>