<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <link rel="stylesheet" href="../plugins/datatables/dataTables.bootstrap.css"/>
    <title>部门管理</title>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">


                    <div class="box">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">查询</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form class="form-horizontal" th:action="@{/employee/depEmp}" method="get">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">选择部门查询</label>

                                        <div class="col-sm-10" style="width: 200px">
                                            <input type="text" list="departmentlist" name="department"
                                                   class="form-control"
                                                   id="department" maxlength="20"/>
                                            <datalist id="departmentlist">
                                                <option th:each="depar:${list}" th:text="${depar.getDname()}"></option>
                                            </datalist>
                                        </div>
                                    </div>



                                    <br/><br/>

                                    <!-- /.box-body -->
                                    <div class="box-footer" style="text-align: center;">
                                        <button type="submit" class="btn btn-info">查询</button>
                                    </div>
                                    <!-- /.box-footer -->


                                </div>
                            </form>
                        </div>

                    </div>


                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">新增部门</h3>
                            <a th:href="@{/department/addDep}" title="新增部门"><span
                                    class="glyphicon glyphicon-plus"></span></a>
                        </div>

                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>部门ID</th>
                                    <th>部门名称</th>
                                    <th>编辑</th>
                                    <th>删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${list}">
                                    <td>
                                        <a class="alink" th:href="@{/employee/depEmp(dID=${item.getDid()},department=${item.getDname()})}" th:text="${item.getDid()}">
                                        </a>
                                    </td>


                                    <td>
                                        <a class="alink" th:href="@{/employee/depEmp(dID=${item.getDid()},department=${item.getDname()})}" th:text="${item.getDname()}">
                                        </a>
                                    </td>

                                    <td style="text-align: center">
                                        <a th:href="@{/department/editDep(dID=${item.getDid()},dName=${item.getDname()},redirect=0)}">
                                            <span
                                                class="glyphicon glyphicon-edit"
                                                title="编辑">
                                            </span>
                                        </a>
                                    </td>

                                    <td style="text-align: center">
                                        <span title="删除" style="cursor: pointer" class="glyphicon glyphicon-trash"
                                              th:onclick="'javascript:del(&quot;'+${item.getDname()}+'&quot;);'">
                                        </span>
                                    </td>


                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>

<script>
    function del(dName){
        var ret=confirm("确认删除部门 \""+dName+"\" 吗?");
        if (ret==true){
            $.ajax({
			    type: 'POST',
			    url: '/department/deleteDep',
			    data: {"department":dName},

			    success: function(data) {
			    	window.location.href="/department";
			    },
			    error: function(xhr, type) {
			    	window.alert('删除失败！');
			    }
			})
        }
    }
</script>
<script th:src="@{/js/list-page.js}"></script>
</body>
</html>

<style>
a.alink:link{
    color:black
}

a.alink:visited{
    color:black
}

a.alink:hover{
    color:#72ACE3
}
</style>