<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>管理平台</title>
    <div th:replace="head"></div>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">


    <div th:replace="header"></div>
    <!-- Left side column. contains the logo and sidebar -->
    <div th:replace="sidebar"></div>

    <div></div>
    <div></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

        </section>
    </div>
    <!-- /.content-wrapper -->

</div>

<div th:replace="script"></div>
</body>
</html>