<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <div th:replace="head"></div>
    <script >
            function check(){
                var a=window.location.search;
                var b="?error";
                if(a==b){
                alert("账号或密码错误\n请检查并重新输入");
                    }
                }
    </script>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <b>管理平台</b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg"></p>

        <form th:action="@{/login/form}" method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="username" name="username" required="required"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="password" name="password" required="required"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" name="remember-me"/> 记住密码
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
                </div>
                <!-- /.col -->
            </div>
        </form>


    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<div class="footer text-center"><a href="https://beian.miit.gov.cn/">闽ICP备19022264号-1</a></div>
<div style="width:300px;margin:0 auto; padding:20px 0;" class="text-center">
  <a target="_blank" href=" " style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/images/gongwangbeian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">闽公网安备 35062802000126号</p ></a>
 </div>
<div th:replace="script"></div>
</body>
</html>
