<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
     $(document).ready(function() {
        $(":button").click(function () {
        var _this = $(this);
        var src = _this.attr("value");
        $("#holonomicImg").attr("src", src);
        $("#outerDiv").fadeIn("fast");
        $("#outerDiv").click(function(){
            $(this).fadeOut("fast");
        });
    });
});

    function reportSearch() {
        var userInPut = document.getElementById("userInPut").value;
        var reportListDiv = document.getElementById("reportHideDiv");
        var reportList = reportListDiv.children;
        var report;
        var flag;
        var reportID;
        var reportType;
        var count;
        var targetReport;
       /* var targetP;*/
        for (i=0 ; i < reportList.length ; i++) {
            count = 0;
            report = reportList[i].children;
            report = report[0];
            reportID = report[1].value;
            reportType = report[0].value;
            targetReport = document.getElementById(reportID.toString() + '_' + reportType.toString());
         /*   targetP = targetReport.children;
            var re = new RegExp(userInPut,"g");
            targetP[0].setAttribute("text",targetP[0].text.Replace(re,""<span style="color:#F00">" + targetP[0].text + "</span>""));*/
            for (j = 1; j < report.length; j++) {
                flag = report[j].value.indexOf(userInPut);
                if (flag != -1)
                    count++;
            }
            if (!count)
                targetReport.setAttribute("style", "display:none");
            else
                targetReport.setAttribute("style", "");

        }
    }
    function setReport() {
        var userInput = document.getElementById("userInPut");
        userInput.value = "";
        reportSearch();
    }
	
	function changeBGC2(){
		var BGCnum = /*[[${selected_type}]]*/ "";
		switch(BGCnum){
			case 1 :
				var B1=document.getElementById("B1");
				B1.setAttribute("style","background-color:red;");
				break;
			case 2 :
				var B2=document.getElementById("B2");
				B2.setAttribute("style","background-color:red;");
				break;
			case 3 :
				var B3=document.getElementById("B3");
				B3.setAttribute("style","background-color:red;");
				break;
		}
	}


     /*]]>*/
</script>
<head>
    <meta charset="UTF-8"/>
    <title>查询与统计</title>
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body onload="changeBGC2()">
<div class="page">
    <div class="key-search">
        <input type="text" id="userInPut" placeholder="请输入关键字搜索" oninput="reportSearch()"/>
        <!--
        <a href = "javascript:void(0);" onclick ="setReport()">清空搜索结果</a>
        -->
    </div>
    <!--
    <div class="page-title">
        <h3>报告列表</h3>
    </div>
    -->
    <div th:each="report:${list}" class="history_box" th:id="${report.getReportID()} + '_' + ${report.getType()}">
        <div style="display: flex;flex-direction: row;align-items:center;">
            <div class="history_title">
            <p th:text="${report.getUserName()}"></p>
            </div>
            <div class="history_submitTime">
                <p th:text="${report.getSubmitTime()}"></p>
            </div>
        </div>
        <div style="display: flex;flex-direction: row;align-items:center;">
            <div class="history_type" th:switch="${report.getType()}">
                <p th:case="1" th:text="'一般报告'+'-'+${report.getCategory()}"></p>
                <p th:case="4097" th:text="'一般报告'+'-'+${report.getCategory()}"></p>
                <p th:case="16" th:text="'个案报告'+'-'+${report.getCategory()}"></p>
                <p th:case="4112" th:text="'个案报告'+'-'+${report.getCategory()}"></p>
                <p th:case="256" th:text="'领导报告'+'-'+${report.getCategory()}"></p>
                <p th:case="4352" th:text="'领导报告'+'-'+${report.getCategory()}"></p>
            </div>

            <div class="approval_right_att">
                <button th:if="${!report.getReportPath().isEmpty()}" type="button" th:value="${report.getReportPath()}"></button>
            </div>
        </div>
        <div style="display: flex; flex-direction:column;">
            <div class="history_content">
                <p th:text="'内容:&nbsp;'+${report.getReportText()}"></p>
            </div>

            <div class="history_members">
                <p th:if="${!report.members.isEmpty()}" th:text="'成员:&nbsp;'+${report.getMembers()}"></p>
            </div>
        </div>
        <div style="display: flex;">
            <div class="history_score">
                <p th:if="${!report.singleScore.isEmpty()}" th:text="'分值:&nbsp;'+${report.getSingleScore()}"></p>
            </div>
            <div class="history_leader">
                <p th:if="${!report.leaderName.isEmpty()}" th:text="'领导:&nbsp;'+${report.getLeaderName()}"></p>
            </div>
            <div class="history_status">
                <p th:text="'状态:&nbsp;'+${report.getIsPass()}"></p>
            </div>
        </div>
        <div style="display:flex;">
            <div class="history_comment">
                <p th:if="${!report.comment.isEmpty()}" th:text="'审批意见:&nbsp;'+${report.getComment()}"></p>
            </div>
            <!--
            <div class="history_checktime">
                <p th:text="'审批时间：'+${report.getCheckTime()}"></p>
            </div>
            -->
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/><br/><br/>
    <br/>
    <br/>
    <br/><br/>


    <div id="reportHideDiv">
        <div class="report_box" th:each="report:${list}">
            <select th:value="${report.getReportID()}"
                    th:id="'report_hide_' +${report.getReportID()} + '_' + ${report.getType()} " style="display: none">
                <div>
                    <option th:value="${report.getType()}"></option>
                    <option th:value="${report.getReportID()}"></option>
                    <option th:value="${report.getUserName()}"></option>
                    <option th:value="${report.getCategory()}"></option>
                    <option th:value="${report.getSubmitTime()}"></option>
                    <option th:value="${report.getReportText()}"></option>
                    <option th:value="${report.getSingleScore()}"></option>
                    <option th:value="${report.getMembers()}"></option>
                    <option th:value="${report.getLeaderName()}"></option>
                    <option th:value="${report.getIsPass()}"></option>
                    <option th:value="${report.getComment()}"></option>
                </div>
            </select>
        </div>
    </div>
</div>

<div id="outerDiv"
     style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerDiv" style="position:absolute;">
        <img id="holonomicImg" style="margin:auto; display:block;width:100%; height:auto;" src=""/>
    </div>
</div>


<form method="post" nctype="multipart/form-data">
    <select name="UserID" style="display:none">
        <option th:value="${UserID}" th:text="${UserID}"></option>
    </select>
    <select name="UserName" style="display:none">
        <option th:value="${UserName}" th:text="${UserName}"></option>
    </select>
    <div class=" bottom_box">
        <div class="history_button">
            <input type="submit" id="B1" value="我的提交(已审批)" name="button"/>
        </div>
        <div class="history_button">
            <input type="submit" id="B2" value="我的提交(未审批)" name="button"/>
        </div>
        <div class="history_button">
            <input type="submit" id="B3" value="我的审批" name="button"/>
        </div>
    </div>
</form>
</body>
</html>