<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="ko"
      lang="ko">
<head>
    <title>上传头像</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache"></meta>
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate"></meta>
    <meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT"></meta>
    <meta HTTP-EQUIV="expires" CONTENT="0"></meta>
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="/js/jquery-3.2.1.js"></script>

    <link rel="stylesheet" href="../css/jquery.Jcrop.min.css"/>
    <link rel="stylesheet" href="../css/jquery.Jcrop.css"/>
    <script src="/js/jquery.Jcrop.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.Jcrop.min.js"></script>
    <script src="/js/jquery.color.js"></script>
    <script src="/js/html2canvas.js"></script>
    <script src="/js/exif.js"></script>


</head>
<body>

<div id="avatarDiv" style="height:60%;width:100%;background:#fff;position:relative;">
    <img id="avatar" th:src="${avatarURL}"
         style="position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;height:auto;width:auto;max-height:100%;max-width:100%;"/>
</div>


<div style="height: 10%;margin-top:20%;">
    <button id="avatarSubmit" style="display:none">确定更改</button>
</div>

<div style="height: 10%;margin:auto;">
    <form method="post" enctype="multipart/form-data" id="avatarForm">
        <div class="select-ava">
            <label id="uploadFinish" style="display:none">上传头像完成
            </label>
            <input type="file" accept="image/*" name="file" id="file" onchange="changeFile()"/>
            <label for="file" id="att" style="font-size:3em;color:rgb(80,119,170);">选择头像
            </label>

        </div>
        <input type="hidden" id="choose" name="choose"/>
        <input type="hidden" id="x" name="x"/>
        <input type="hidden" id="y" name="y"/>
        <input type="hidden" id="w" name="w"/>
        <input type="hidden" id="h" name="h"/>
        <input type="hidden" id="srcURL" name="srcURL"/>
        <input type="hidden" name="userID" th:value="${userID}"/>
    </form>
</div>


<div class="uploadProcess" id="innerDiv" style="display:none;">
    <p>正在提交头像...请勿关闭窗口</p>
</div>

<div class="uploadProcess" id="upDiv" style="display:none;">
    <p>正在加载...</p>
</div>


<script th:inline="javascript">
	/*<![CDATA[*/

	function html2image() {

	var source = document.getElementById("avatarDiv");
	var srcURL = document.getElementById("srcURL");


	html2canvas(source, {
        onrendered: function(canvasTemp) {
            drawPhoto(document.getElementById("avatar"),canvasTemp,srcURL);
        }
    });

    }


	function checkDL () {
	var con = confirm("确认提交头像？");
        if (con == false)
            return false;
	}




    function changeFile() {
    var newSrc = $('#file').get(0).files[0];
    var reader = new FileReader();
        reader.onload = function(e){
                document.getElementById("avatar").src = e.target.result;
        };
    reader.readAsDataURL(newSrc);
    $("#att").text("已上传头像√");
    document.getElementById('avatar').onload=function () {
    if($("#uploadFinish").is(":hidden")){
    $("#upDiv").fadeIn("fast");
    $('#avatarSubmit').attr("style","width:300px;height:100px;display:block;font-size:3em;margin:auto;color: rgb(255,255,255);background-color: rgb(80,119,170);");
    $("#upDiv").fadeOut("fast");
    }
    };
    html2image();
    }


    function setAvatar (URL) {
    $('#avatar').attr("src",URL.toString());
    $('#avatarSubmit').attr("style","display:none");
    $('#att').attr("style","display:none");
    $('#uploadFinish').attr("style","font-size:3em;color:rgb(80,119,170)");
    var file = document.getElementById("file");
         if (file.outerHTML) {
             file.outerHTML = file.outerHTML;
         } else {
             file.value = "";
         }

    }
	/*]]>*/

</script>


<script>
	var jcropApi;
	var div_w = $('#avatarDiv').width();
	var div_h = $('#avatarDiv').height();
	$('#avatarDiv').Jcrop({
	allowSelect: false,
	aspectRatio: 1,
    setSelect: [ div_w/2-320,div_h/2-320,div_w/2+320,div_h/2+320 ],
	onSelect: updateCoords
	}, function() {
	jcropApi = this;
	});

	function updateCoords(c){
	$('#x').val(c.x);
	$('#y').val(c.y);
	$('#w').val(c.x+640);
	$('#h').val(c.y+640);
	};

	function checkCoords(){
		if (parseInt($('#w').val())) {
		return true;
	};
	alert('请先选择头像，再提交。');
	return false;
	};

	function getPhotoOrientation(img) {
   		var orient;
   		EXIF.getData(img, function () {
   			orient = Number(EXIF.getTag(this, 'Orientation'));
   		});
   		return orient;
	}

	function drawPhoto(photo,canvas,srcURL) {
    //获取照片的拍摄方向
    var orient = getPhotoOrientation(photo);

   	var img_w = photo.naturalWidth;
   	var img_h = photo.naturalHeight;
    if (canvas.getContext) {
        var ctx = canvas.getContext("2d");

        //draw on Canvas
        var img = new Image();
        img.onload = function () {

            var canvas_w = Number(ctx.canvas.width);
            var canvas_h = Number(ctx.canvas.height);
            //判断图片拍摄方向是否旋转了90度
            if (orient == 6) {
            	img_w = canvas_h/img_h*img_w;
            	img_h = canvas_h;
            	x = canvas_w/2 - img_w/2;
				y = canvas_h/2 - img_h/2;

                ctx.translate(canvas_w / 2, canvas_h / 2);//设置画布上的(0,0)位置，也就是旋转的中心点
                ctx.rotate(90 * Math.PI / 180);//把画布旋转90度
                // 执行Canvas的drawImage语句
                ctx.drawImage(img, y - canvas_h / 2, parseInt(x) - canvas_w / 2, img_h, img_w);//把图片绘制在画布translate之前的中心点，
            }
            var imageData = canvas.toDataURL(1);
            srcURL.value = imageData;
        }
        img.src = photo.src; // 设置图片源地址
    }
}


</script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#avatarSubmit").click(function () {

        var result = checkDL();

        if (result == false)
            return false;

        var avatarForm = document.getElementById("avatarForm");
        var formData = new FormData(avatarForm);

        $.ajax({
        url : "UploadAvatar",
        type : "POST",
        data : formData,
        // 告诉jQuery不要去处理发送的数据
        processData : false,
        // 告诉jQuery不要去设置Content-Type请求头
        contentType : false,
        beforeSend:function(){
        $("#innerDiv").fadeIn("fast");
        },
        complete : function(){
                    $("#innerDiv").fadeOut("fast");
        },
        success : function(responseMsg) {
            if(responseMsg.num == "1") {
                alert("头像上传成功！");
                setAvatar(responseMsg.msg);
            }
            else {
            alert(responseMsg.msg.toString());
            }
        },
        error : function(responseMsg) {
            $("#innerDiv").fadeOut("fast");
            alert("error");
        }
        });

        });
    });

</script>
</body>
</html>
