<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">

            <!--Multilevel-->
            <li class="treeview active">
                <a th:href="@{/adminQRCode}">
                    <span>设置二维码</span>
                    <span class="pull-right-container">
                       <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

            </li>

            <li class="treeview active">
                <a th:href="@{/scoreQuery}">
                    <span>总分查询</span>
                    <span class="pull-right-container">
                       <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

            </li>

            <li class="treeview active">
                <a th:href="@{/reportType}">
                    <span>报告类型</span>
                    <span class="pull-right-container">
                       <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

            </li>
            <li class="treeview active">
                <a th:href="@{/reportQuery}">
                    <span>报告查询</span>
                    <span class="pull-right-container">
                       <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

            </li>

            <li class="treeview active">
                <a th:href="@{/employee}">
                    <span>人员管理</span>
                    <span class="pull-right-container">
                       <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

            </li>

            <li class="treeview active">
                <a th:href="@{/score}">
                    <span>积分管理</span>
                    <span class="pull-right-container">
                       <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

            </li>

            <li class="treeview active">
                <a th:href="@{/privilege}">
                    <span>权限管理</span>
                    <span class="pull-right-container">
                       <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>