<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <title>积分管理</title>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">积分管理</h3>
                        </div>

                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>工作积分</th>
                                    <th>基础积分</th>
                                    <th>总积分</th>
                                    <th>编辑</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${list}">
                                    <td th:text="${item.getUsername()}"></td>
                                    <td th:text="${item.getS_score()}"></td>
                                    <td th:text="${item.getF_score()}"></td>
                                    <td th:text="${item.getF_score()+item.getS_score()}"></td>
                                    <td style="text-align: center">
                                        <a th:href="@{/score/form(userid=${item.getUserid()})}">
                                            <span class="glyphicon glyphicon-edit" title="编辑"></span></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer" style="text-align: center;">
                            <button class="btn btn-info" onclick="exportTo()">生成Excel</button>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-default" onclick="Clear()">积分清零</button>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>

<div th:replace="script"></div>

<!-- page script -->
<script src="https://cdn.bootcss.com/xlsx/0.14.4/xlsx.full.min.js"></script>
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": false,
            "pageLength": 30,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        });
    });

    function Clear() {
        var msg = "警告：该操作会将所有积分清零，并且不可逆！建议在清零前点击\"生成Excel\"备份积分数据。若要继续进行清零操作请输入密码。";
        var password = prompt(msg, "");
        if (password) {
            $.ajax({
                type: 'POST',
                url: '/score/clear',
                data: {"password": password},

                success: function (data) {
                    window.alert('操作成功！');
                    window.location.href = "/score";
                },
                error: function (xhr, type) {
                    window.alert('操作失败！');
                }
            })
        }
    }

    function fill(s) {
        return s < 10 ? '0' + s : s;
    }

    function getDateString(myDate) {
        var year = myDate.getFullYear();
        var month = myDate.getMonth() + 1;
        var date = myDate.getDate();
        return year + '-' + fill(month) + "-" + fill(date);
    }

    function exportTo() {
        var name = '积分备份' + getDateString(new Date());
        var table = document.getElementById('dataTable');
        var wb = XLSX.utils.table_to_book(table, {sheet: "Sheet1"});
        return XLSX.writeFile(wb, name + '.xls');
    }
</script>
<script th:src="@{/js/list-page.js}"></script>
</body>

</html>