<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <title>人员管理</title>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">部门查询</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form class="form-horizontal" th:action="@{/employee/depEmp}" method="get">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">选择部门查询</label>
                                        <div class="col-sm-10" style="width: 300px">
                                            <input type="text" list="departmentlist" name="department"
                                                   class="form-control" th:value="${searchDepart}"
                                                   id="searchDepart" maxlength="20"/>
                                            <datalist id="departmentlist">
                                                <option th:each="depar:${departmentList}"
                                                        th:text="${depar.getDname()}"></option>
                                            </datalist>
                                        </div>

                                        <label class="col-sm-2 control-label">人员查询</label>
                                        <div class="col-sm-10" style="width: 300px">
                                            <input type="text" name="userName"
                                                   class="form-control" th:value="${searchName}"
                                                   id="searchName" maxlength="20"/>
                                        </div>
                                    </div>

                                    <br/><br/>

                                    <div class="box-footer" style="text-align: center;">
                                        <button type="submit" class="btn btn-info">查询</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header with-border" th:if="${dID!=0}">
                            <h3 class="box-title" th:text="${department}"></h3>
                            <a th:href="@{/department/editDep(dID=${dID},dName=${department},redirect=1)}"
                               title="增减部门人员">
                                <span class="glyphicon glyphicon-plus"></span></a>&nbsp;
                            <a th:href="@{/employee/editDepLeader(dID=${dID},dName=${department})}" title="编辑部门领导">
                                <span class="glyphicon glyphicon-edit"></span></a>
                        </div>

                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>部门</th>
                                    <th>权限级别</th>
                                    <th>是否为领导</th>
                                    <th>编辑</th>
                                    <th>删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${list}">
                                    <td th:text="${item.getUsername()}"></td>
                                    <td th:text="${item.getDname()}"></td>
                                    <td th:text="${item.getPrivilege()}"></td>
                                    <td th:text="${item.getIsleader_()}"></td>
                                    <td style="text-align: center">
                                        <a th:href="@{/employee/editDepEmp(dID=${item.getDid()},dName=${item.getDname()},userid=${item.getUserid()},username=${item.getUsername()},isleader=${item.getIsleader()})}"><span
                                                class="glyphicon glyphicon-edit"
                                                title="编辑是否领导"></span></a>
                                        &nbsp;
                                        <a th:href="@{/employee/editEmp(userid=${item.getUserid()},redirect=${item.getDname()})}"><span
                                                class="glyphicon glyphicon-edit" style="color:rgb(255,0,0);"
                                                title="编辑成员信息"></span></a>
                                    </td>

                                    <td style="text-align: center">
                                        <span title="删除" style="cursor: pointer" class="glyphicon glyphicon-trash"
                                              th:userid="${item.getUserid()}" th:username="${item.getUsername()}"
                                              onclick="del(this.getAttribute('userid'), this.getAttribute('username'))">
                                        </span>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>

<script th:inline="javascript">
    function del(userid, username) {
        dName =/*[[${department}]]*/;
        var ret = confirm("确认把 \"" + username + "\" 从 \"" + dName + "\" 中删除吗?");
        if (ret == true) {
            $.ajax({
                type: 'POST',
                url: '/employee/deleteDepEmp',
                data: {
                    "userid": userid,
                    "dID": /*[[${dID}]]*/
                },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, type) {
                    window.alert('删除失败！');
                }
            })
        }
    }

</script>

<script th:src="@{/js/list-page.js}"></script>
</body>
</html>