<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>积分榜</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--prevent from caching image-->
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache"/>
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate"/>
    <meta HTTP-EQUIV="expires" CONTENT="0"/>

    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" media="all"/>
</head>

<body onload="changeBGC1()">

<form method="post" onsubmit="return checkDL()">
    <div class="rankingList-key-search">
        <input type="image" src="/images/search.png" alt="Submit" align="left"/>
        <input type="text" id="searchB" placeholder="请输入关键字搜索" autocomplete="off" name="userInput"/>
    </div>
    <input value="MOBILE" name="STATE" style="display:none;"/>
    <input value="search" name="button" style="display:none;"/>

</form>

<div class="page">
    <!--
    <div class="page-title">
        <h3 th:text="'积分榜-'+${selected_type}"></h3>
    </div>
    -->
    <hr>
    <div th:each="everyone,rowStat:${list}" class="rank_box">
        <div class="rank_box_left"><p th:text="${rowStat.count}"></p></div>
        <div class="rank_box_left"><img th:src="@{${everyone.getAvatarURL()}}"/></div>
        <div class="rank_box_left"><p th:text="${everyone.getUsername()}"></p></div>
        <div class="rank_box_left"><p th:text="${everyone.getDuty()}"></p></div>
        <!--<div class="rank_box_left"><p th:text="${everyone.getTitle()}"></p></div>-->
        <div class="rank_box_right"><p th:text="${everyone.getScore()}"></p></div>
    </div>
    </hr>
    <!--
    <div class="rank_box">
        <div class="rank_box_left"><p></p></div>
        <div class="rank_box_left"><p></p></div>
        <div class="rank_box_left"><p></p></div>
        <div class="rank_box_right"><p></p></div>
    </div>
    -->
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>


</div>


<form method="post">
    <input value="MOBILE" name="STATE" style="display:none;"/>
    <input value="" name="userInput" style="display:none;"/>
    <div class="bottom_box_rank">
        <div class="rank_button"><input type="submit" id="B1" value="领导干部" name="button"/></div>
        <div class="rank_button"><input type="submit" id="B2" value="中层干部" name="button"/></div>
        <!--<div class="rank_button"><input type="submit" id="B3" value="总排行" name="button"/></div>-->
        <div class="rank_button"><input type="submit" id="B4" value="一般干部" name="button"/></div>
        <div class="rank_button"><input type="submit" id="B5" value="村级干部" name="button"/></div>
    </div>
</form>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    function changeBGC1() {
        var BGCnum = /*[[${selected_type}]]*/ "";
        var userInput = /*[[${userInput}]]*/ "";
        switch (BGCnum) {
            case 1 :
                var B1 = document.getElementById("B1");
                B1.setAttribute("style", "background-color:red;");
                break;
            case 2 :
                var B2 = document.getElementById("B2");
                B2.setAttribute("style", "background-color:red;");
                break;
            case 3 :
                var B3 = document.getElementById("B3");
                B3.setAttribute("style", "background-color:red;");
                break;
            case 4 :
                var B4 = document.getElementById("B4");
                B4.setAttribute("style", "background-color:red;");
                break;
            case 5 :
                var B5 = document.getElementById("B5");
                B5.setAttribute("style", "background-color:red;");
                break;
        }
        if (userInput != "")
            document.getElementById("searchB").value = userInput;
    }

    function checkDL() {
        var userInput = document.getElementById("searchB");
        if (userInput.value.toString() == "") {
            alert("搜索内容不能为空!");
            return false;
        }
        return true;
    }

    /*]]>*/


</script>

</html>
