<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache"/>
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate"/>
    <meta HTTP-EQUIV="expires" CONTENT="0"/>

    <title>二维码</title>
</head>

<body>

<script th:src=@{/js/gps.js}></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    getLocation(function (lat, lng) {
        var manager = /*[[${manager}]]*/;
        var manalatlng = /*[[${manalatlng}]]*/;
        var userlatlng = lat + '-' + lng;
        var state = /*[[${state}]]*/;
        state = state + '-' + manager + '-' + userlatlng + '-' + manalatlng;
        var link = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7635106ee1705d6d&' +
            'redirect_uri=https%3A%2F%2Fphxxz.read-a-book.wang%2Fwechat%2FCheckin' +
            '&response_type=code&scope=snsapi_base&state=' + state + '#wechat_redirect';
        self.location.href = link;
    });
    /*]]>*/
</script>

</body>

</html>
