<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个案报告提交</title>
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body onload="loadDepartment()">
<div class="page">
    <h3>个案报告</h3>
    <div class="submit-form">
        <form method="post" enctype="multipart/form-data">
            <select name="UserId" style="display:none">
                <option th:value="${UserId}" th:text="${UserId}"></option>
            </select>
            <label>报告内容:</label>
            <div class="select-file">
                <label for="file">上传附件
                </label>
                <input type="file" name="file" id="file"/>
            </div>
            <div class="report_box">
                <input type="text" name="content" required="required">
            </div>
            <label>任务类型:</label>
            <div class="report_box">
                <select name="type">
                    <option value="1">日常工作</option>
                    <option value="2">领导交办</option>
                    <option value="3">阶段汇总</option>
                    <option value="4">危难险重</option>
                    <option value="5">其他工作</option>
                </select>
            </div>
            <label>得分/扣分:</label>
            <div class="report_box">
                <select name="score_type">
                    <option value="1">得分</option>
                    <option value="0">扣分</option>
                </select>
            </div>
            <label>任务分值:</label>
            <div class="report_box">
                <input type="number" name="score" required="required">
            </div>
            <label>工作部门:</label>
            <div class="report_box">
                <select name="department" id="department" onchange="departmentRedirect()">
                    <option>请选择部门</option>
                    <div th:each="department:${list}">
                        <option th:value="${department.department}" th:text="${department.department}"></option>
                    </div>
                </select>
            </div>
            <label>审批领导:</label>
            <div class="report_box">
                <select name="leader" id="leader" >
                    <option>请选择领导</option>
                    <div th:each="leader:${list}">
                        <option th:value="${leader.leader}" th:text="${leader.leader}"></option>
                    </div>
                </select>
            </div>
            <label>队伍成员:</label>
            <div class="selected-box">
                <div name="checkMemberDiv" id="checkMemberDiv" class="selected-members">
                </div>
                <input type="text" placeholder="搜索" autocomplete="off" name="userInput" id="userInput"
                       oninput="memberSearch()">
            </div>
            <div id="memberList" class="unselected-members">
            </div>
            <div class="report_box">
                <input type="submit" value="提交报告" onclick="checkMemberDivToInput()">
            </div>
            <select name="members_hide" id="members_hide" style="display:none">
                <div th:each="AllUser:${AllUsers}">
                    <option th:value="${AllUser}"><span th:text="${AllUser}"></span></option>
                </div>
            </select>
            <input name="members" id="members" style="display:none" value="">
        </form>
    </div>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    function checkMemberDivToInput() {
        var checkMemberDiv = document.getElementById("checkMemberDiv");
        var members = document.getElementById("members");
        var checkMember = checkMemberDiv.children;
        for (i = 0; i < checkMember.length ; i++){
            members.setAttribute("value", members.value.toString() + checkMember[i].value.toString() + ",");
        }
    }

    function addDiv(value) {
        var mydiv = document.getElementById("checkMemberDiv");
        mydiv.appendChild(value);
    }

    function deleteObjCheckMemberDiv(value) {
        var obj = document.getElementById(value.id);
        var div = document.getElementById("checkMemberDiv");
        div.removeChild(obj);
        memberSearch();

    }
    function addCheckBox (value){
        var b = document.createElement("input");
        var delFunction = "deleteObjCheckMemberDiv(" +"checkMember" + value.toString() +")";
        b.setAttribute("value", value);
        b.setAttribute("type", "button");
        b.setAttribute("id", "checkMember" + value.toString());
        b.setAttribute("onclick", delFunction);
        addDiv(b);
    }

    function addMembers(memberName) {
        var member = document.getElementById(memberName.value);
        addCheckBox(member.value);
        var div = document.getElementById("memberList");
        var delMember = document.getElementById(member.value);
        div.removeChild(delMember);
        var userInput = document.getElementById('userInput');
        userInput.setAttribute("value", "");
        memberSearch();
    }

    function  memberSearch() {
        var userInput = document.getElementById('userInput').value;
        var members_hide = document.getElementById('members_hide');
        var checkMemberDiv = document.getElementById("checkMemberDiv");
        var members;
        var addMemberList = document.getElementById("memberList");
        var memberID;
        var delMember;
        var matchedMembers = new Array();
        var f = 0;
        for (i = 0; i < members_hide.length; i++) {
            delMember = document.getElementById(members_hide[i].value);
            if (delMember != null) {
                addMemberList.removeChild(delMember);
            }
        }

        var checkMember = checkMemberDiv.children;
        var count;
        for (i = 0; i < members_hide.length; i++) {
            var flag = members_hide[i].value.indexOf(userInput);
            if (flag != -1) {
                count = 0;
                for (j = 0; j < checkMember.length; j++) {
                    if (checkMember[j].value == members_hide[i].value)
                        count++;
                }
                if (!count) {
                    matchedMembers[f] = members_hide[i].value;
                    f++;
                }
            }
        }
        matchedMembers.sort();
        if (!(userInput.toString() == "")) {
            for (j = 0; j < matchedMembers.length; j++) {
                members = document.createElement("input");
                members.setAttribute("type", "button");
                members.setAttribute("value", matchedMembers[j]);
                memberID = "addMembers(" + matchedMembers[j] + ")";
                members.setAttribute("onclick", memberID);
                members.setAttribute("id", matchedMembers[j]);
                addMemberList.appendChild(members);
            }
        }

    function departmentRedirect() {
            var department = document.getElementById("department");
            var leader = document.getElementById("leader");
            var selectedD = department.options[department.selectedIndex].text;
            for (i = 1 ; i<department.length ; i++) {
                var flag2 = department[i].text.indexOf(selectedD);
                if (flag2 == -1) {
                    leader[i].setAttribute("style", "display:none");
                }
            }
        }

    function loadDepartment() {
            var department = document.getElementById("department");
            alert(department[1].text);
            for (i = 1; i < department.length; i++) {
                var j = i;
                for (n = 1; n < j; n++) {
                    var flag1 = department[j].text.indexOf(department[n].text);
                    if (flag1 != -1) {
                        department[j].setAttribute("style", "display:none");
                        break;
                    }
                }
            }
        }

    /*function memberSearch() {
        var userInput = document.getElementById('userInput').value;
        var members_hide = document.getElementById('members_hide');
        var members = document.getElementById("members");
        for (j = 0; j < members.length;) {
            members.options.remove(0)
        }
        for (i = 0; i < members_hide.length; i++) {
            var flag = members_hide[i].value.indexOf(userInput);
            if (flag != -1) {
                members.options.add(new Option(members_hide[i].text, members_hide[i].value));
            }
        }
        members.sort();

    }*/

    /*]]>*/



</script>

</html>