<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个案报告提交</title>
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body onload="loadDepartment()">
<div class="page">
    <div class="page-title">
        <h3>个案报告</h3>
    </div>
    <div class="submit-form">
        <form method="post" enctype="multipart/form-data" onsubmit="return checkDL()">
            <select name="UserId" style="display:none">
                <option th:value="${UserId}" th:text="${UserId}"></option>
            </select>
            <div class="report_box">
                <label>报告内容:</label>
                <input type="text" name="content" id="content" required="required">
                <div class="select-file">
                    <input type="file" name="file" id="file" required="required"/>
                    <label for="file">上传附件
                    </label>
                </div>
            </div>

            <div class="report_box">
                <label>任务类型:</label>
                <select name="type">
                    <option value="1">日常工作</option>
                    <option value="2">领导交办</option>
                    <option value="3">阶段汇总</option>
                    <option value="4">危难险重</option>
                    <option value="5">其他工作</option>
                </select>
            </div>

            <div class="report_box">
                <label>得分/扣分:</label>
                <select name="score_type">
                    <option value="1">得分</option>
                    <option value="0">扣分</option>
                </select>
            </div>

            <div class="report_box">
                <label>任务分值:</label>
                <input type="text" name="score" required="required" id="score">
            </div>

            <div class="report_box">
                <label>工作部门:</label>
                <select name="department" id="department" onchange="departmentRedirect()">
                    <option>请选择部门</option>
                    <div th:each="department:${list}">
                        <option th:value="${department.leader}" th:text="${department.department}"></option>
                    </div>
                </select>
            </div>

            <div style="display:none">
                <select id="department_hide" >
                    <option>请选择部门</option>
                    <div th:each="department:${list}">
                        <option th:value="${department.leader}" th:text="${department.department}"></option>
                    </div>
                </select>
            </div>
            <div class="report_box">
                <label>审批领导:</label>
                <select name="leader" id="leader">
                    <option>请选择领导</option>
                </select>
            </div>

            <div class="report_box">
                <label>队伍成员:</label>
                <div class="selected-box">
                    <div name="checkMemberDiv" id="checkMemberDiv" class="selected-members">
                    </div>
                    <input type="search" placeholder="搜索" autocomplete="off" name="userInput" id="userInput"
                           oninput="memberSearch()">
                </div>
            </div>
            <br/>
            <div id="memberList" class="unselected-members">
            </div>
            <div class="submit_box">
                <input type="submit" value="提交报告">
            </div>
            <input name="members" id="members" style="display:none" value="">
        </form>
    </div>
    <div class="space">
    </div>
</div>
<select name="members_hide" id="members_hide" style="display:none">
    <div th:each="AllUser:${AllUsers}">
        <option th:value="${AllUser}"><span th:text="${AllUser}"></span></option>
    </div>
</select>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    function checkDL () {
        var content = document.getElementById("content");
        var score = document.getElementById("score");
        var department = document.getElementById("department");
        var leader = document.getElementById("leader");

        if (content.value.toString() == "") {
            alert("报告内容不能为空！");
            return false;
        }

        if (score.value.toString() == "") {
            alert("任务分值不能为空！")
            return false;
        }

        if (isNaN(score.value.toString())) {
            alert("任务分值必须为数字！")
            return false;
        }
        
        if (department.options[department.selectedIndex].text == "请选择部门") {
            alert("请选择部门！");
            return false;
        }
        if (leader.options[leader.selectedIndex].text == "请选择领导") {
                alert("请选择领导！");
                return false;
        }

        var con = confirm("确认提交报告？");
        if (con == false)
            return false;

        checkMemberDivToInput();

    }
    function checkMemberDivToInput() {
        /* check the department and leader*/
        var checkMemberDiv = document.getElementById("checkMemberDiv");
        var members = document.getElementById("members");
        var checkMember = checkMemberDiv.children;
        for (i = 0; i < checkMember.length ; i++){
            members.setAttribute("value", members.value.toString() + checkMember[i].value.toString() + ",");
        }
        members.setAttribute("value",members.value.toString().substring(0,members.value.toString().length-1))
    }

    function addDiv(value) {
        var mydiv = document.getElementById("checkMemberDiv");
        mydiv.appendChild(value);
    }

    function deleteObjCheckMemberDiv(value) {
        var obj = document.getElementById(value.id);
        var div = document.getElementById("checkMemberDiv");
        div.removeChild(obj);
        memberSearch();

    }
    function addCheckBox (value){
        var b = document.createElement("input");
        var delFunction = "deleteObjCheckMemberDiv(" +"checkMember" + value.toString() +")";
        b.setAttribute("value", value);
        b.setAttribute("type", "button");
        b.setAttribute("id", "checkMember" + value.toString());
        b.setAttribute("onclick", delFunction);
        addDiv(b);
    }

    function addMembers(memberName) {
        var member = document.getElementById(memberName.value);
        addCheckBox(member.value);
        var div = document.getElementById("memberList");
        var delMember = document.getElementById(member.value);
        div.removeChild(delMember);
        var userInput = document.getElementById('userInput');
        userInput.value="";
        memberSearch();
    }

    function  memberSearch() {
        var userInput = document.getElementById('userInput').value;
        var members_hide = document.getElementById('members_hide');
        var checkMemberDiv = document.getElementById("checkMemberDiv");
        var members;
        var addMemberList = document.getElementById("memberList");
        var memberID;
        var delMember;
        var matchedMembers = new Array();
        var f = 0;
        for (i = 0; i < members_hide.length; i++) {
            delMember = document.getElementById(members_hide[i].value);
            if (delMember != null) {
                addMemberList.removeChild(delMember);
            }
        }

        var checkMember = checkMemberDiv.children;
        var count;
        for (i = 0; i < members_hide.length; i++) {
            var flag = members_hide[i].value.indexOf(userInput);
            if (flag != -1) {
                count = 0;
                for (j = 0; j < checkMember.length; j++) {
                    if (checkMember[j].value == members_hide[i].value)
                        count++;
                }
                if (!count) {
                    matchedMembers[f] = members_hide[i].value;
                    f++;
                }
            }
        }
        matchedMembers.sort();
        if (!(userInput.toString() == "")) {
            for (j = 0; j < matchedMembers.length; j++) {
                members = document.createElement("input");
                members.setAttribute("type", "button");
                members.setAttribute("value", matchedMembers[j]);
                memberID = "addMembers(" + matchedMembers[j] + ")";
                members.setAttribute("onclick", memberID);
                members.setAttribute("id", matchedMembers[j]);
                addMemberList.appendChild(members);
            }
        }
    }

        function departmentRedirect() {
            var department_hide = document.getElementById("department_hide");
            var department = document.getElementById("department");
            var leader = document.getElementById("leader");
            var userName = /*[[${userName}]]*/ "";
            var selectedD = department.options[department.selectedIndex].text;
            for (i = leader.length - 1; i > 0; i--)
                leader.options.remove(i);
            for (i = 1; i < department_hide.length; i++) {
                if (department_hide[i].text == selectedD  && userName != department_hide[i].value) {
                        leader.options.add(new Option(department_hide[i].value.toString(), department_hide[i].value.toString()));
                }
            }
        }


        function loadDepartment() {
            var department = document.getElementById("department");
            var i,j,n;
            for (i = department.length-1; i >0 ; i--) {
                j = i;
                alert ( i.toString() + department.options[j].text);
                for (n = 1; n < j; n++) {
                    if (department.options[n].text == department.options[j].text){
                        alert(j.toString() + n.toString());
                        department.options.remove(j);
                        break;
                    }
                }
            }
        }


    /*function memberSearch() {
        var userInput = document.getElementById('userInput').value;
        var members_hide = document.getElementById('members_hide');
        var members = document.getElementById("members");
        for (j = 0; j < members.length;) {
            members.options.remove(0)
        }
        for (i = 0; i < members_hide.length; i++) {
            var flag = members_hide[i].value.indexOf(userInput);
            if (flag != -1) {
                members.options.add(new Option(members_hide[i].text, members_hide[i].value));
            }
        }
        members.sort();

    }*/

    /*]]>*/







</script>

</html>