<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>失败</title>
</head>

<body onload="errorAlert()">

</body>
<script th:inline ="javascript">
        /*<![CDATA[*/
    function errorAlert () {
    var errorNum =  /*[[${errorNum}]]*/ "";
    switch (errorNum)
    {
    case "00" :
        alert("用户不存在！");
        window.history.back(-1);
        break;
    case "01" :
        alert("报告审批失败！");
        window.history.back(-1);
        break;
    case "02" :
        alert("文件上传失败！");
        window.history.back(-1);
        break;
    case "03":
        alert("二维码已失效!");
        break;
    case "04":
        alert("请勿重复扫码!");
        break;
    case "05":
        alert("今天已经提交过一般报告!");
        break;
    default :
        alert("失败!");
    }
    }
        /*]]>*/
</script>
</html>