<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>一般报告提交</title>
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div class="page">
    <h3>一般报告</h3>
    <div class="submit-form">
        <form method="post" enctype="multipart/form-data">
            <select name="UserId" style="display:none">
                <option th:value="${UserId}" th:text="${UserId}"></option>
            </select>
            <label>报告内容:</label>
            <div class="select-file">
                <label for="file">上传附件
                </label>
                <input type="file" name="file" id="file" required="required"/>
            </div>
            <div class="report_box">
                <input type="text" name="content" required="required">
            </div>
            <label>任务类型:</label>
            <div class="report_box">
                <select name="type">
                    <option value="1">日常工作</option>
                    <option value="2">领导交办</option>
                    <option value="3">阶段汇总</option>
                    <option value="4">危难险重</option>
                    <option value="5">其他工作</option>
                </select>
            </div>
            <label>工作部门:</label>
            <div class="report_box">
                <select name="department" id="department" onchange="departmentRedirect()">
                    <option>请选择部门</option>
                    <div th:each="department:${list}">
                        <option th:value="${department.leader}" th:text="${department.department}"></option>
                    </div>
                </select>
            </div>
            <label>审批领导:</label>
            <div class="report_box">
                <select name="leader" id="leader" >
                    <option>请选择领导</option>
                    <div th:each="leader:${list}">
                        <option th:value="${leader.leader}" th:text="${leader.leader}"></option>
                    </div>
                </select>
            </div>
            <div class="report_box">
                <input type="submit" value="提交报告">
            </div>
        </form>
    </div>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    function departmentRedirect() {
        var department = document.getElementById("department");
        var leader = document.getElementById("leader");
        var selectedD = department.options[department.selectedIndex].text;
        for (i = leader.length - 1; i > 0; i--)
            leader.options.remove(i);
        for (i = 1; i < department.length; i++) {
            var flag2 = department[i].text.indexOf(selectedD);
            if (flag2 != -1) {
                leader.options.add(new Option(department[i].value.toString(), department[i].value.toString()));
            }
        }
    }


    function loadDepartment() {
        var department = document.getElementById("department");
        for (i = 1; i < department.length; i++) {
            var j = i;
            for (n = 1; n < j; n++) {
                var flag1 = department[j].text.indexOf(department[n].text);
                if (flag1 != -1) {
                    department[j].setAttribute("style", "display:none");
                    break;
                }
            }
        }
    }
    /*]]>*/
</script>
</html>