<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>一般报告提交</title>
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" media="all"/>
</head>

<body>

<div class="page">
    <h3>一般报告</h3>
    <div class="submit-form">
        <form method="post" enctype="multipart/form-data">
            <select name="UserId" style="display:none">
                <option th:value="${UserId}" th:text="${UserId}"></option>
            </select>

            <label>报告内容:</label>
            <div class="report_box">
                <input type="text" name="content">
            </div>

            <div class="report_box">
                <input type="file" name="file" value="上传文件">
            </div>

            <label>任务类型:</label>
            <div class="report_box">
                <select name="type">
                    <option value="1">日常工作</option>
                    <option value="2">领导交办</option>
                    <option value="3">阶段汇总</option>
                    <option value="4">危难险重</option>
                    <option value="5">其他工作</option>
                </select>
            </div>

            <label>工作部门:</label>
            <div class="report_box">
                <select name="department">
                    <option>请选择部门</option>
                    <div th:each="department:${DLeaders}">
                        <option th:value="${department.department}"><span th:text="${everyDepartment.dName}"></span>
                        </option>
                    </div>
                </select>
            </div>

            <label>审批领导:</label>
            <div class="report_box">
                <select name="leader">
                    <option>请选择领导</option>
                    <div th:each="leader:${Leaders}">
                        <option th:value="${leader.username}"><span th:text="${leader.username}"></span></option>
                    </div>
            </div>

            <div class="report_box">
                <input type="submit" value="提交报告">
            </div>
        </form>
    </div>
</div>

</body>
</html>