<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>查询与统计</title>
</head>

<body>

<div>
    <h1>报告列表</h1>
    <br/>

    <!--此处为根据关键字查询 需要仔细斟酌-->
    <input type="text"/>


    <div>
        <form>
            <ul>
                <li><input type="submit" value="我的得分" name="button"/></li>
                <li><input type="submit" value="我的提交" name="button"/></li>
                <li><input type="submit" value="我的审批" name="button"/></li>
            </ul>
        </form>
    </div>
</div>

</body>

</html>