<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="ko"
      lang="ko">
<head>
    <title>二维码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://static.runoob.com/assets/qrcode/qrcode.min.js"></script>
</head>
<body>
<div class="QRCode">
    <div id="qrcode"></div>
</div>

<button class="QRbutton" onclick="window.location.href='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7635106ee1705d6d&redirect_uri=http%3A%2F%2Fshiftlin.top%3A4908%2FQRCode&response_type=code&scope=snsapi_base&state=true#wechat_redirect'">刷新</button>

<script th:inline="javascript">
	/*<![CDATA[*/
	var timestamp = /*[[${timestamp}]]*/;
    var creator = /*[[${creator}]]*/;
    timestamp=String(timestamp);
	var qrcode = new QRCode(document.getElementById("qrcode"), {
		text: 'http://shiftlin.top:4908/redirectQR?timestamp=' + timestamp + "&creator=" + creator,
		width : 256,
		height : 256
	});
	/*]]>*/
</script>
</body>
</html>
