<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>积分榜</title>
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" media="all"/>
</head>

<body>
<div class="page">
    <h3 th:text="'积分榜-'+@{selected_type}"></h3>
    <hr>
    <div th:each="everyone:${list}" class="rank_box">
        <div class="rank_box_left"><p th:text="${everyone.rank}"></p></div>
        <div class="rank_box_left"> <img th:src="@{${everyone.avatarURL}}"/> </div>
        <div class="rank_box_left"><p th:text="${everyone.username}"></p></div>
        <div class="rank_box_right"><p th:text="${everyone.score}"></p></div>
    </div>
    <div class="space">

    </div>

</div>



<form method="post" nctype="multipart/form-data">
    <div class="bottom_box">
        <div class="rank_button"><input type="submit" value="领导干部" name="button"></div>
        <div class="rank_button"><input type="submit" value="中层干部" name="button"></div>
        <div class="rank_button"><input type="submit" value="总排行" name="button"></div>
        <div class="rank_button"><input type="submit" value="一般干部" name="button"></div>
        <div class="rank_button"><input type="submit" value="村级干部" name="button"></div>
    </div>
</form>
</body>

</html>
