<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>积分排行</title>
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" media="all"/>
</head>

<body>
<div class="page">
    <h3>积分榜</h3>
    <hr>
    <div th:each="everyone:${list}" class="rank_box">
        <div class="rank_box_c1" th:text="${everyone.rank}"></div>
        <div class="rank_box_c1" th:text="${everyone.avatarURL}"></div>
        <div class="rank_box_c1" th:text="${everyone.username}"></div>
        <div class="rank_box_c2" th:text="${everyone.score}"></div>
    </div>


</div>

<div class="space">

</div>

<form method="post" nctype="multipart/form-data">
    <div class="bottom_box">
        <div class="rank_button"><input type="submit" value="领导干部" name="button"></div>
        <div class="rank_button"><input type="submit" value="中层干部" name="button"></div>
        <div class="rank_button"><input type="submit" value="总排行" name="button"></div>
        <div class="rank_button"><input type="submit" value="一般干部" name="button"></div>
        <div class="rank_button"><input type="submit" value="村级干部" name="button"></div>
    </div>
</form>
</body>

</html>
