<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>积分排行</title>
</head>

<body>
<div>

    <div>
        <div th:each="everyone:${list}">
            <li th:text="${everyone.username}"></li>
            <li th:text="${everyone.score}"></li>
        </div>
    </div>

    <div>
        <form method="post">
            <ul>
                <li><input type="submit" value="领导干部" name="button"></li>
                <li><input type="submit" value="中层干部" name="button"></li>
                <li><input type="submit" value="一般干部" name="button"></li>
                <li><input type="submit" value="村级干部" name="button"></li>
            </ul>
        </form>
    </div>
</div>
</body>

</html>
