<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>二维码</title>
</head>

<body>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var state = /*[[${state}]]*/;
    self.location.href='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7635106ee1705d6d&redirect_uri=http%3A%2F%2Fshiftlin.top%3A4908%2FCheckin&response_type=code&scope=snsapi_base&state='+state+'#wechat_redirect';
    /*]]>*/
</script>


</html>
