<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>报告审批</title>
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" media="all"/>
</head>

<body>
<div class="page">
    <!--
    <div class="page-title">
        <h3>待审批列表</h3>
    </div>
    -->
    <form method="post" class="submit-form" nctype="multipart/form-data" onsubmit="return checkDL()">
        <div class="approval_content">
            <label th:if="${list1==null and list2==null}">暂无未审批报告</label>
        </div>

        <button type="button" id="checkboxAll" onclick="selectAll()" value="全选">全选</button>

        <div th:each="list:${list1}" class="approval_content">
            <div class="approval_left">
                <div class="check_box">
                    <input type="checkbox" name="check1" id="check" th:value="${list.reportID}"><span>√</span>
                </div>
                <label for="check"></label>
            </div>
            <div class="approval_right">
                <div class="approval_right_title">
                    <p th:text="'提交人'+${list.userName}+'('+${list.submitTime}+')'"></p>
                </div>
                <div class="approval_right_content">
                    <p th:text="'内容:' + ${list.reportText}"></p>
                    <div th:switch="${list.category}">
                        <p th:case="1">一般报告-日常工作(1分)</p>
                        <p th:case="2">一般报告-领导交办(2分</p>
                        <p th:case="3">一般报告-阶段汇总(2分)</p>
                        <p th:case="4">一般报告-急难危重(2分)</p>
                        <p th:case="5">一般报告-其他工作(2分)</p>
                    </div>
                </div>
            </div>
        </div>
        <div th:each="list:${list2}" class="approval_content">
            <div class="approval_left">
                <div class="check_box">
                    <input type="checkbox" name="check2" id="check2" th:value="${list.reportID}"><span>√</span>
                </div>
                <label for="check"></label>
            </div>
            <div class="approval_right">
                <div class="approval_right_title">
                    <p th:text="'提交人'+${list.userName}+'('+${list.submitTime}+')'"></p>
                </div>
                <div class="approval_right_content">
                    <p th:text="'内容:' + ${list.reportText}"></p>
                    <p th:text="'小组成员:' + ${list.members}"></p>
                    <div th:switch="${list.category}">
                        <p th:case="1" th:text="'个案报告-工作日常('+${list.singleScore}+'分)'">)</p>
                        <p th:case="2" th:text="'个案报告-领导交办('+${list.singleScore}+'分)'"></p>
                        <p th:case="3" th:text="'个案报告-阶段汇总('+${list.singleScore}+'分)'"></p>
                        <p th:case="4" th:text="'个案报告-急难危重('+${list.singleScore}+'分)'"></p>
                        <p th:case="5" th:text="'个案报告-其他工作('+${list.singleScore}+'分)'"></p>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/><br/>



        <div th:if="${list1!=null and list2!=null}" class="bottom_box">
            <div class="approval_bottom_box">
                <select name="reportStatus">
                    <option value="1">通过</option>
                    <option value="0">不通过</option>
                </select>
            </div>
            <div class="approval_bottom_box">
                <input type="text" name="reportComment" placeholder="请输入审批意见"/>
            </div>
            <div class="approval_bottom_box">
                <input class="submit" type="submit" value="确定审批"/>
            </div>
        </div>
        <input type="hidden" name="check1">
        <input type="hidden" name="check2">
    </form>
</div>
<div class="space">
</div>

</body>
<script th:inline="javascript">
/*<![CDATA[*/
    function selectAll() {
        var check1 = document.getElementsByName("check1");
        var check2 = document.getElementsByName("check2");
        var checkboxAll = document.getElementById("checkboxAll");

        if (checkboxAll.value == "全选") {

            checkboxAll.value = "取消全选";

            for (i = 0 ; i< check1.length-1 ; i++)
                check1[i].checked = true;

            for (j = 0 ; j< check2.length-1 ; j++)
                check2[j].checked = true;

        }

        else {

            checkboxAll.value = "全选";

            for (i = 0 ; i< check1.length-1 ; i++)
                check1[i].checked = false;

            for (j = 0 ; j< check2.length-1 ; j++)
                check2[j].checked = false;

        }


    }

    function checkDL() {
        var check1 = document.getElementsByName("check1");
        var check2 = document.getElementsByName("check2");
        var list1 = /*[[${list1}]]*/ "";
        var list2 = /*[[${list2}]]*/ "";
        var count = 0;

        if (list1.length== 0 && list2.length == 0) {
            alert("没有需要审批的报告！");
            return false;
        }
        for (i = 0 ; i< check1.length-1 ; i++) {
            if (check1[i].checked == true)
                count++;
        }
        for (j = 0 ; j< check2.length-1 ; j++) {
            if (check2[j].checked == true)
                count++;
        }
        if(!count) {
            alert("请选择需要审批的报告！");
            return false;
        }
        else {
            var con = confirm("确认审批已选择报告？");
            if (con == true)
                return true;
            else
                return false;

        }

    }
       /*]]>*/

</script>
</html>
