<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="ko"
      lang="ko">
<head>
    <title>上传头像</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://static.runoob.com/assets/qrcode/qrcode.min.js"></script>
</head>
<body>
<div class="QRCode">
    <img id="avatar" th:src="${avatarURL}" style="width : 256,height : 256;">
</div>

<form method="post" enctype="multipart/form-data" id="avatarForm">
    <div class="select-file">
        <input type="file" accept="image/*" name="file" id="file" onchange="changeFile()"/>
        <label for="file" id="att" style="font-size:3em;">上传附件</label>
    </div>

    <input type="hidden" name="userID" th:value = "${userID}">
</form>

<div class="uploadProcess" id="innerDiv">
    <p>正在提交头像...</p>
</div>

<button class="QRbutton" id="avatarSubmit">upload</button>

<script th:inline="javascript">
	/*<![CDATA[*/
	function checkDL () {
	var con = confirm("确认提交报告？");
        if (con == false)
            return false;
	}
    function changeFile() {

		$("#att").text("已上传√");
    }

    function setAvatar (URL) {
    var avatar = document.getElementById("avatar");
    avatar.setAttribute("src",URL);
    }
	/*]]>*/
</script>

<script type="text/javascript">
    $(document).ready(function(){

        $("#avatarSubmit").click(function () {

        var result = checkDL();

        if (result == false)
            return false;

        var avatarForm = document.getElementById("avatarForm");
        var formData = new FormData(avatarForm);

        $.ajax({
        url : "UploadAvatar",
        type : "POST",
        data : formData,
        // 告诉jQuery不要去处理发送的数据
        processData : false,
        // 告诉jQuery不要去设置Content-Type请求头
        contentType : false,
        beforeSend:function(){
        $("#innerDiv").fadeIn("fast");
        },
        complete : function() {
                    $("#innerDiv").fadeOut("fast");
        },
        success : function(responseMsg) {
            if(responseMsg.num == "1") {
                alert("success");
                setAvatar(responseMsg.msg);
            }
            else
                alert("fail");

        },
        error : function(responseMsg) {
            $("#innerDiv").fadeOut("fast");
            alert("error");
        }
        });

        });
    });
</script>
</body>
</html>
