<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <link rel="stylesheet" href="../plugins/datatables/dataTables.bootstrap.css"/>
    <title>二维码设置</title>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="box">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">二维码设置</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form class="form-horizontal" onsubmit="return checkDate()"
                                  th:action="@{/adminQRCode/setTime}"
                                  method="post">
                                <div class="box-body" style="font-size: 10px">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">开始日期</label>

                                        <div class="col-sm-10" style="width: 200px">
                                            <input type="date" name="startdate" class="form-control" id="startdate"
                                                   maxlength="50" placeholder="格式：2018-01-01" required="required"/>
                                        </div>
                                        <label class="col-sm-2 control-label">开始时间</label>

                                        <div class="col-sm-10" style="width: 200px">
                                            <input type="time" name="starttime" class="form-control" id="starttime"
                                                   maxlength="50" placeholder="格式：00:00" required="required"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">结束日期</label>

                                        <div class="col-sm-10" style="width: 200px">
                                            <input type="date" name="enddate" class="form-control" id="enddate"
                                                   maxlength="50" placeholder="格式：2018-01-01" required="required"/>
                                        </div>
                                        <label class="col-sm-2 control-label">结束时间</label>

                                        <div class="col-sm-10" style="width: 200px">
                                            <input type="time" name="endtime" class="form-control" id="endtime"
                                                   maxlength="50" placeholder="格式：00:00" required="required"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">人员</label>

                                        <div class="col-sm-10" style="width: 200px">
                                            <input type="text" name="managers" class="form-control" id="managers"
                                                   maxlength="150" required="required"/>
                                        </div>
                                        <label class="col-sm-2 control-label">分值</label>

                                        <div class="col-sm-10" style="width: 200px">
                                            <input type="number" name="value" class="form-control" id="value"
                                                   maxlength="50" required="required"/>
                                        </div>
                                    </div>
                                    <br/><br/>

                                    <!-- /.box-body -->
                                    <div class="box-footer" style="text-align: center;">
                                        <button type="reset" class="btn btn-default">重置</button>
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        <button type="submit" class="btn btn-info" onclick="checkDate()">设置</button>
                                    </div>
                                    <!-- /.box-footer -->
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="box">
                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped" style="font-size: 10px">
                                <thead>
                                <tr>
                                    <th>起始时间</th>
                                    <th>终止时间</th>
                                    <th>人员</th>
                                    <th>分值</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${QRCodes}">
                                    <td th:text="${item.s_time}"></td>
                                    <td th:text="${item.e_time}"></td>
                                    <td th:text="${item.managers}"></td>
                                    <td th:text="${item.value}"></td>
                                    <td style="text-align: center">
                                        <a th:href="@{/adminQRCode/stop/(id=${item.QRID})}"
                                           onclick="checktime()">
                                            立即结束
                                        </a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    var idTmr;

    function getExplorer() {
        var explorer = window.navigator.userAgent;
        //ie
        if (explorer.indexOf("MSIE") >= 0) {
            return 'ie';
        }
        //firefox
        else if (explorer.indexOf("Firefox") >= 0) {
            return 'Firefox';
        }
        //Chrome
        else if (explorer.indexOf("Chrome") >= 0) {
            return 'Chrome';
        }
        //Opera
        else if (explorer.indexOf("Opera") >= 0) {
            return 'Opera';
        }
        //Safari
        else if (explorer.indexOf("Safari") >= 0) {
            return 'Safari';
        }
    }

    function method(tableid) {
        if (getExplorer() == 'ie') {
            var curTbl = document.getElementById(tableid);
            var oXL = new ActiveXObject("Excel.Application");
            var oWB = oXL.Workbooks.Add();
            var xlsheet = oWB.Worksheets(1);
            var sel = document.body.createTextRange();
            sel.moveToElementText(curTbl);
            sel.select();
            sel.execCommand("Copy");
            xlsheet.Paste();
            oXL.Visible = true;

            try {
                var fname = oXL.Application.GetSaveAsFilename("Excel.xls", "Excel Spreadsheets (*.xls), *.xls");
            } catch (e) {
                print("Nested catch caught " + e);
            } finally {
                oWB.SaveAs(fname);
                oWB.Close(savechanges = false);
                oXL.Quit();
                oXL = null;
                idTmr = window.setInterval("Cleanup();", 1);
            }

        }
        else {
            tableToExcel(tableid)
        }
    }

    function Cleanup() {
        window.clearInterval(idTmr);
        CollectGarbage();
    }

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,',
            template = '<html><head><meta charset="UTF-8"></meta></head><body><table>{table}</table></body></html>',
            base64 = function (s) {
                return window.btoa(unescape(encodeURIComponent(s)))
            },
            format = function (s, c) {
                return s.replace(/{(\w+)}/g,
                    function (m, p) {
                        return c[p];
                    })
            }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
<script th:src="@{/js/list-page.js}"></script>
<script>
    function checkDate() {
        var startdate = document.getElementById("startdate").valueOf().value.split("-");
        var enddate = document.getElementById("enddate").valueOf().value.split("-");
        var starttime = document.getElementById("starttime").valueOf().value.split(":");
        var endtime = document.getElementById("endtime").valueOf().value.split(":");
        if (startdate[0] > enddate[0]) {
            alert("错误的起始（终止）时间");
            return false;
        }
        else if (startdate[0] == enddate[0]) {
            if (startdate[1] > enddate[1]) {
                alert("错误的起始（终止）时间");
                return false;
            }
            else if (startdate[1] == enddate[1]) {
                if (startdate[2] > enddate[2]) {
                    alert("错误的起始（终止）时间");
                    return false;
                }
                else if (startdate[2] == enddate[2]) {
                    if (starttime[0] > endtime[0]) {
                        alert("错误的起始（终止）时间");
                        return false;
                    }
                    else if (starttime[0] == endtime[0]) {
                        if (starttime[1] > endtime[1]) {
                            alert("错误的起始（终止）时间");
                            return false;
                        }
                        else if (starttime[1] == endtime[1]) {
                            alert("错误的起始（终止）时间");
                            return false;
                        }
                    }
                }
            }
        }
        return true
    }

</script>
<script>
    function checktime() {
        window.alert(e_time);
        var msg = "您真的确定要停止吗？\n\n请确认！";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>
