<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <title>报告类型</title>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">新增报告类型</h3>
                            <a th:href="@{/reportType/add}" title="新增报告类型"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>

                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>类型名称</th>
                                    <th>分值</th>
                                    <th>备注</th>
                                    <th>修改</th>
                                    <th style="text-align: center">删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${list}">
                                    <td th:text="${item.getName()}"></td>
                                    <td th:text="${item.getValue()}"></td>
                                    <td th:text="${item.getRemark()}"></td>
                                    <td style="text-align: center">
                                        <a th:href="@{/reportType/modify/(id=${item.getName()})}">
                                            <span class="glyphicon glyphicon-edit" title="编辑"></span>
                                        </a>
                                    </td>
                                    <td style="text-align: center">
                                        <a th:href="@{/reportType/delete/(id=${item.getName()})}">
                                            <span title="删除" class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
<script th:src="@{/js/list-page.js}"></script>
</body>
</html>